body {
    background: rgb(131,58,180);
    background: linear-gradient(90deg, rgba(131,58,180,0.8) 0%, rgba(253,29,29,0.5) 50%, rgba(252,250,69,0.5) 100%);
    align-items: center;
}

#canvas{
    border: 3px solid black;
}

#canvas-container{
    display: flex;
    justify-content: center;
    margin-top: 10vh;
    height: 70vh;
}

.buttons{
    -webkit-appearance: none;
    display: flex;
    gap: 50px;
    margin-top: 2vh;
    justify-content: center;
    /* text size to 20 */
    font-size: 30px;

}

.button, #color-picker{
    width: 15vh;
    height: 5vh;
    background-color: white;
    border: 3px solid #000;
    font-size: 30px;

}

#reset{
    flex-basis: auto;
}

.slider{
  -webkit-appearance: none;
  display: flex;
  justify-content: center;
  align-items: space-evenly;
  outline: none;
  margin-top: 30vh;
  background: white;
  border: 3px solid black;

  width: 50%; /*20% size of parent container*/
  margin: 0 auto; /*auto margin for left and right, this means
                   that the margin is equally applied left/right.*/
}

.slider-container{
    margin-top: 2vh;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 10px;
    background: #000;
    cursor: pointer;
    border: 1px solid black;
    border-radius: 0px;
  }